*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background: url("https://images5.alphacoders.com/964/964482.jpg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgba(255, 255, 255, 0.569);
    font-family: Arial, Helvetica, sans-serif;
    height: 60vh;
}

nav{
    background-color: rgba(39, 94, 43, 0.661);
    width: 100%;
}

.menu{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.lista a{
    text-decoration: none;
    color: rgb(4, 2, 2);
    display: block;
    padding: 15px 50px;
}
.menu .lista{
    display: inline-block;
}
.lista-r{
    float: right;
}
.lista a:hover{
    background-color: rgba(133, 33, 33, 0.512);
}
main{
    text-align: center;
}

img{
    margin-top: 10px;
    border-radius: 50%;
    height: 150px;
    border: 10px solid rgb(14, 13, 13)
}

p{
    font-size: 22px;
    font-weight: 600;
    color: rgb(18, 17, 17);
}


.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

input{
    border: 0;
    padding: 10px;
    font-size: 18px;
    margin: 5px;
    background-color: rgba(46, 44, 44, 0.584);
}

label{
    font-size: 22px;
    font-weight: 600;
    color: rgba(59, 126, 84, 0.537);
}

#textarea{
    border: 0;
    font-size: 18px;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.4);
    color: rgba(87, 73, 73, 0.186);
}

button[type="submit"]{
    background: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    padding: 10px;
    font-family: 20px;
    font-weight: 600;
    border-radius: 5px;
    align-items: center;
}

input::placeholder{
    color: white;
}

input:focus{
    outline: none;
    background-color: rgba(36, 133, 229, 0.9);
}

div{
    display: flex;
    flex-direction: row ;
    justify-content: left;
}
#div2{
    display: flex;
    flex-direction: row ;
    justify-content: left;
}

#con{
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


